* {
    box-sizing: border-box;
}
#top {
    width:100%;
    padding:5px;
    color: #aaa;
    position: fixed;
    background:#212121;
    left: 50%;
    transform: translateX(-50%);
    vertical-align:bottom;
    text-align:center;
    top:0;
}
#top a {
    color: #ccc;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --min-card-width: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vmin;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    :root {
        -webkit-user-select: none; /* iOS Safari */
        -webkit-touch-callout: none; /* iOS Safari */
        -khtml-user-select: none; /* Konqueror */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version */
    }
    dialog {
        align-self: safe center;
        width:80vw;
        border-radius:15px;
        height:50vh;
        overflow-y:scroll;
    }
    .hide-mobile { display:none; }
    .three-columns {
        display:grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .board {
        width:100%;
    }
    #app {
        margin: 2rem auto;
    }
    .board-cell, .tile, .marker {
        width:6.3vmin;
        font-size: 4vmin;
    }
    .board-cell {
        font-size: 3vmin;
    }
    button {
        font-size: 3vmin;
        padding:2px;
        border-radius:5px;
    }
    .box {
        padding:10px;
        font-size:2.5vmin;
    }
    .scores .score {
        font-size:10.5vmin;
    }
    .game {
        margin-bottom:10px;
        font-size:4vmin;
    }
    .cur-game .user {
        font-size:2vh;
    }
    .cur-game .score {
        padding:3px 10px;
        font-size:3vh;
    }
    .title {
        font-weight:bold;
        font-size:4vmin;
    }
}
/* DESKTOP */
@media screen and (min-width: 768px) {
    .type-button { display:none; }
    dialog {
        align-self: safe center;
        width:35%;
        border-radius:15px;
    }
    .hide-non-mobile  { display: none; }
    .three-columns {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        max-width:1600px;
    }
    .board {
        width:auto;
        padding: 16px;
        gap:1px;
    }
    #app {
        margin: 0 auto;
        padding: 2rem;
    }
    .tile, .marker {
        width:4.5vh;
        font-size: 2.7vh;
    }
    .board-cell {
        width:4.5vh;
        font-size: 1.7vh;
    }
    button {
        font-size: 1vh;
        border-radius: 8px;
    }
    .box {
        padding:10px;
        font-size:1.3vh;
    }
    .cur-game .score {
        padding:5px 10px;
        font-size:3.5vh;
    }
    .cur-game .user {
        padding:10px;
        font-size:1.8vh;
    }
    .game {
        margin-bottom:10px;
        font-size:2vh;
    }
    .title {
        font-weight:bold;
        font-size:2.1vmin;
    }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.hidden-input {
    height:1px !important;
    width:1px !important;
    opacity: 0;
}
.rack-bumper {
    border-radius:5px;
}
.board {
  gap: 1px;
  display: grid;
  grid-template-columns: repeat(15, 1fr) / repeat(15, 1fr);
  border: 2px solid #333;
  background: #aaa;
  border-radius:15px;
  align-items: center;
  justify-items: center;
}

.rack-cell {
  background: #ddd;
  align-items: center;
  justify-items: center;
}
.board-cell {
    font-weight:bold;
    aspect-ratio: 1 / 1;
    border: 1px solid #aaa;
    background: #F8F8F8;
    border-radius:5px;
    display:inline-flex;
    line-height:1;
    justify-content:center;
    align-items:center;
}

.triple-word {
  background: red;
}

.double-word {
  background: darkorange;
  color:white;
}

.triple-letter {
  background: royalblue;
  color:white;
}

.double-letter {
  background: lightblue;
}

.center {
  background: darkorange;
}

.points {
  font-size: .3em;
  bottom: 4px;
  right: 4px;
  color:black;
}

.bonus-text {
  color: white;
}

.has-letter {
  background: #f8f9fa;
}
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}
.letter-choice {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
}
.tile {
    display:inline-flex;
    line-height:1;
    background:black;
    color:#fff;
    z-index:1100;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    aspect-ratio: 1 / 1;
    border:1px solid #aaa;
    border-radius:5px;
}
.tile-letter {
    display:flex;
    align-items:flex-end;
}
.marker {
    display:inline-flex;
    line-height:1;
    background:white;
    color:blue;
    z-index:1100;
    justify-content:center;
    align-items:center;
    font-weight:bold;
    aspect-ratio: 1 / 1;
    border:2px solid blue;
    border-radius:5px;
}
.board-cell .letter {
    position:relative;
    text-align: center;
    align-self:center;
    align-items: center;
    justify-items: center;
}
small.points {
    color:inherit;
    vertical-align:bottom;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
[draggable=true] {
  cursor: move;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: block;
}
.dragging {
  transition: 0.02s;
  transform: translateX(-9999px);
}
.played {
    color: #555;
    border: 1px solid #555;
}
.valid {
    color: #0FFF50;
}
.invalid-word {
    color:red;
}
.invalid {
    color: red !important;
}
.blank {
    color:steelblue;
}
a:hover {
    cursor:pointer;
}
.cur-game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:#aaa;
    border-radius:15px;
}
.cur-game .user {
    font-weight: bold;
    padding:10px;
}
.cur-game .current {
    background: yellow;
    color: orange;
    border-radius: 15px;
}
.other-games {
    height:40vmin;
    overflow-y:scroll;
}

.other-games .game, .all-games .game {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background:#555;
    border-radius:5px;
    margin-bottom:10px;
}
.other-games .user, .all-games .user{
    font-weight: bold;
    padding:5px;
}
.other-games .over {
    font-weight: bold;
}
.other-games .game .current, .all-games .game .current {
    background: #D12A24;
    color: orange;
    border-radius:5px;
}
.other-games .score, .all-games .score {
    padding:5px;
}
.other-games .game:hover, .all-games .game:hover {
    border:1px solid yellow;
}

.clickable {
    cursor: pointer;
}
.box {
    border-radius:10px;
    background:#777;
    padding:10px;
    margin:15px 0;
}
.moves {
    height: 30vh;
    overflow-y:scroll;
}
.moves .move {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 15px;
    background: #aaa;
    margin-bottom:5px;
    padding:5px;
    color:#555;
    font-weight:bold;
    white-space: nowrap;
}
div.move div:nth-child(3n) {
    justify-self: end;
}
.exchange {
    color:red;
}
.you {
    background: #E62525 !important;
    color: white !important;
}
.hidden {
    display:none;
}
