* {
    box-sizing: border-box;
}
#top {
    width:100%;
    padding:5px;
    color: #aaa;
    position: fixed;
    background:#212121;
    left: 50%;
    transform: translateX(-50%);
    vertical-align:bottom;
    text-align:center;
    top:0;
}
#top a {
    color: #ccc;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --min-card-width: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vmin;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1vmin;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.two-columns {
    display:grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.rack-bumper {
    border-radius:5px;
}
.board {
  gap: 1px;
  width:72vmin;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  border: 2px solid #333;
  padding: 16px;
  background: #aaa;
  border-radius:15px;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
}

.rack-cell {
  background: #ddd;
  align-items: center;
  justify-items: center;
}
.board-cell {
  width:4.5vmin;
  font-weight:bold;
  aspect-ratio: 1 / 1;
  border: 1px solid #aaa;
  background: #F8F8F8;
  border-radius:5px;
}

.triple-word {
  background: red;
}

.double-word {
  background: darkorange;
  color:white;
}

.triple-letter {
  background: royalblue;
  color:white;
}

.double-letter {
  background: lightblue;
}

.center {
  background: darkorange;
}

.points {
  font-size: .3em;
  bottom: 4px;
  right: 4px;
  color:black;
}

.bonus-text {
  font-size: 1vw;
  color: white;
}

.has-letter {
  background: #f8f9fa;
}
dialog {
    align-self: safe center;
    width:35%;
    border-radius:15px;
}
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}
.letter-choice {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
}
.tile {
    display:inline-flex;
    line-height:1;
    width:4.5vmin;
    font-size: 1.7vw;
    background:black;
    color:#fff;
    z-index:1100;
    justify-content:center;
    align-items:center;
}
.tile-letter {
    display:flex;
    align-items:flex-end;
}
.board-cell .letter {
    position:relative;
    text-align: center;
    align-self:center;
    align-items: center;
    justify-items: center;
}
small.points {
    color:inherit;
    vertical-align:bottom;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
[draggable=true] {
  cursor: move;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: block;
}
.dragging {
  transition: 0.02s;
  transform: translateX(-9999px);
}
.played {
    color: #555;
    border: 1px solid #555;
}
.valid {
    color: #0FFF50;
}
.invalid-word {
    color:red;
}
.invalid {
    color: red !important;
}
.blank {
    color:steelblue;
}
a:hover {
    cursor:pointer;
}
.scores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:#aaa;
    border-radius:15px;
}
.scores .score {
    font-size:4.5vmin;
}
.scores .user {
    font-weight: bold;
    font-size: 1.5vw;
    padding:10px;
}
.scores .current {
    background: yellow;
    color: orange;
    border-radius: 15px;
}
.games {
    height:40vmin;
    overflow-y:scroll;
}
.game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:#555;
    border-radius:5px;
    margin-bottom:10px;
}
.game .score {
    font-size:2vw;
}
.game .current {
    background: #D12A24;
    color: orange;
    border-radius:5px;
}
.clickable {
    cursor: pointer;
}
.games .user {
    font-weight: bold;
}
.games .over {
    font-weight: bold;
}
.title {
    font-weight:bold;
    font-size:larger;
}
.box {
    border-radius:10px;
    background:#777;
    padding:10px;
}
